body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #ffffff;
}
*,
*::before,
*::after {
box-sizing: border-box;
}
.container {
display:flex;
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0 ;
margin: 0 ;
}
ul, ol {
margin: 0 ;
padding: 0 ;
list-style-type: none;
}
a,li{
text-decoration: none;
}
img {
display: block;
max-width: 100%;
}
.logo{
line-height: 1.17;
}
.logo .logo-web {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
font-family: "Raleway", sans-serif;
display:flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
}
.nav{
margin-right: 332px;
}
.header{
border-bottom: 1px solid #e7e9fc;
}
.container> nav{
display:flex;
}
.container> nav > a{
display:flex;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
}
.container ul .link:hover,
.container ul .link:focus{
color: #404bbf;
}
.container .ul-list{
display:flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
padding-left: 76px;
}
.container address ul{
display: flex;
}
.container ul .link
{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.address{
font-style: normal;
}
.address ul .link {
display:flex;
margin-right: 40px;
color: #434455;
justify-content: flex-end;
}
.address .add:hover,
.address .add:focus{
color: #404bbf
}
.main .main-section-first{
background-color: #2e2f42;
}
.head-one{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
padding: 188px 472px;
}
.main-section-first .button{
background: #4d5ae5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
border-radius: 4px;
position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 16px 32px;  
margin:0 auto;
}
.main-section-first .button:hover,
.main-section-first .button:focus
{
background-color: #404BBF
}
.main-section-second .list-second{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;

}
.main-section-third {
background: #f4f4fd;
}
.head-two{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize
}
.tab-li{
background: #fff;
}
.head-three{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.par{
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.main-section-four li{
border: 1px solid #e7e9fc;
}
.footer{
background-color: #2e2f42;
}
.footer .logo-footer{
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-family: "Raleway", sans-serif;
}
.logo-web-footer{
color: #f4f4fd;
}
.footer a
{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.footer > a{
font-weight: 700; 
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
font-family: "Raleway", sans-serif;
}
.footer > p{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
text-align:left;
}